extends layout

block content
  h1 Login page

  label Email 
  input#EmailInput(type="email", placeholder="Enter email")
  br
  label Password 
  input#PasswordInput(type="password", placeholder="Enter password")
  br
  br
  input#LoginBtn(type="submit", value="Login")

  script(src="/javascripts/login.js" defer) 